.container {
  padding: 0px 20px 16px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
}

.form {
  width: 100%;
}

.messageInput {
  &:focus {
    border-color: var(--primary-700) !important;
    background-color: white !important;
  }

  &:hover:not(:focus) {
    border-color: var(--gray-300) !important;
  }
}
