.content {
  display: flex;
  align-items: center;
  gap: 20px; /* アイコンと名前の間 */
  padding: 2%; /* アイコンの縦の間 */
  width: 100%;
}

.userName {
  font-size: 15px;
}

.applyContainer {
  width: 30%;
  margin-left: auto;
}

.allowContainer {
  margin-left: auto;
}
