.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; // 画面全体を使うように
  background-color: #f0f2f5; // やや明るい背景色
  font-family: "Arial", sans-serif;
  color: #333;
}

.reader {
  width: 100%;
  max-width: 500px; // スキャナーの最大幅を設定
  border-radius: 8px;
  background-color: #fff; // スキャナー背景を白に
  display: flex;
  justify-content: center;
  align-items: center;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover; // アスペクト比を保ちつつ要素を覆う
  }
}
