.wrapper {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  height: 100%;
}

.video {
  width: 100%;
  height: 100svh;
  object-fit: cover;
}

/* マスク：中央が四角にくり抜かれて透明になる */
.mask {
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
}

.top,
.bottom,
.left,
.right {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
}

.top {
  top: 0;
  left: 0;
  right: 0;
  height: calc(50% - 151px);
}

.bottom {
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(50% - 151px);
}

.left {
  top: calc(50% - 151px);
  bottom: calc(50% - 151px);
  left: 0;
  width: calc(50% - 151px);
}

.right {
  top: calc(50% - 151px);
  bottom: calc(50% - 151px);
  right: 0;
  width: calc(50% - 151px);
}

/* オプション：枠を白線で表示 */
.frame {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
