.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.reader {
  width: 100%;
  max-width: 400px; /* 好きな幅に */

  position: relative;
}

.reader video,
.reader canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img {
  position: absolute;
  bottom: 15svh;
  left: 50%;
  transform: translate(-50%, -50%);
}
