.footerContainer {
  margin-top: 1svh;
}

.border {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  border-top: solid 2px #e8eef4;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.content {
  display: flex;
  gap: 40px; //アイコンの間
}

.iconWrapper {
  transition: background-color 0.2s ease;
  padding: 15px;
  &:active {
    background-color: #e4ffee; // 押した時の背景色
    border-radius: 50%;
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeImg {
  transition: filter 0.2s ease;
  pointer-events: none;

  // 通常時のフィルター
  filter: brightness(0) saturate(100%) invert(89%) sepia(6%) saturate(339%)
    hue-rotate(174deg) brightness(84%) contrast(96%);
}

.imgActive {
  // アクティブ時のフィルター
  filter: brightness(0) saturate(100%) invert(70%) sepia(65%) saturate(1784%)
    hue-rotate(85deg) brightness(99%) contrast(81%);
}
