:root {
  --primary-900: #16a34a;
  --primary-700: #1edb63;
  --primary-400: #86efac;
  --primary-300: #4ade80;
  --primary-50: #f0fdf4;

  --gray-900: #111827;
  --gray-800: #1f2937;
  --gray-700: #374151;
  --gray-500: #6b7280;
  --gray-400: #aaaeb4;
  --gray-300: #d1d5db;
  --gray-200: #f3f4f6;
  --gray-100: #f9fafb;
  --gray-50: #f9fafb;

  --color-success: #22c55e;
  --color-warning: #facc15;
  --color-error: #ef4444;
  --color-error-bg: #fef2f2;

  --white-100: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--white-100);
}

main {
  padding-bottom: 13svh;
}

