.content {
  background-color: #f9fafb;
  border-radius: 12px;
  padding: 5%;
  margin: 0 auto;
  margin-top: 3svh;
  display: flex;
  align-items: left;
  flex-direction: column;
  flex-shrink: 0;

  &.smWidth {
    width: 80%;
  }
  &.lgWidth {
    width: 100%;
  }
}

.times {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day {
  background-color: #3fe57b;
  width: fit-content;
  padding: 2% 5%;
  border-radius: 12px;
  color: #fff;
}

.title {
  padding-top: 6%;
}

.match {
  font-size: 14px;
  color: #3fe57b;
  padding-top: 1svh;
}
