.content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding-top: 5svh;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.joinActivity {
  width: 100%;
  display: flex;
  overflow-x: auto;
  white-space: nowrap; /* 子要素が折り返さないようにする */
  gap: 15px; /* カード間のスペース */
  padding-bottom: 1svh;

  /* スクロールバーを非表示にする */
  /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  -ms-overflow-style: none;
  /*Firefoxへの対応*/
  scrollbar-width: none;
}

/*Google Chrome、Safariへの対応*/
.contents_box::-webkit-scrollbar {
  display: none;
}
